extends ../../parts/layout
block title
  |Test page 12312 21
block main
  div.demo
    h1 Index page
  div(class='container')
    div(class='row')
      div(class='col-md-6') 123
      div(class='col-md-6') 345
        i(class='bi bi-1-circle')

  div(class="swiper")
    div(class="swiper-wrapper")
      div(class="swiper-slide") Slide 1
      div(class="swiper-slide") Slide 2
      div(class="swiper-slide") Slide 3

    div(class="swiper-pagination")
      div(class="swiper-button-prev")
      div(class="swiper-button-next")

    div(class="swiper-scrollbar")
