extends ../../parts/layout
block title
  |Test page
block main
  div.demo
    h1 About us page
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias odit quia reiciendis asperiores quasi illum accusamus amet doloribus quod repellendus! Quaerat incidunt doloremque ea repellendus quis, nihil recusandae ipsam corporis!